@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arapey&display=swap');

html {
  font-size: 18px;

  // @include mq-l {
  //   font-size: 21px;
  // }
}

h1, h2 {
  font-family: 'Advent Pro', sans-serif;
}

.large-text {
  font-family: 'Arapey', serif;
  font-size: 1.2rem;
}

